.backButton {
  -fx-background-radius: 50%;
  -fx-background-color: #FFFFFF;
  -fx-text-fill: black;
  -fx-font-size: 11px;
  -fx-font-family: "Roboto";
  -fx-cursor: hand;
  -fx-pref-width: 30;
  -fx-pref-height: 30;
}

.backButton:hover {
  -fx-background-color: #dedede;
  -fx-text-fill: #121212;
}

.backButton:pressed {
  -fx-background-color: #bfbfbf;
  -fx-text-fill: #121212;
}

.title {
  -fx-font-size: 100px;
  -fx-font-family: "Roboto";
  -fx-text-fill: #FFFFFF;
  -fx-padding: 20 0 0 0;

}

.root {
  -fx-background-color: #121212;
}