.DashboardComp {
  -fx-spacing: 40;
  -fx-alignment: center;
}

.number {
  -fx-text-fill: white;
  -fx-font-size: 30px;
}

.text {
  -fx-text-fill: white;
  -fx-font-size: 20px;
}

.row {
  -fx-spacing: 10;
  -fx-alignment: center;
}

.numberBox {
  -fx-background-radius: 10;
  -fx-background-color: #808B9F;
  -fx-opacity: 0.8;
  -fx-padding: 15;
  -fx-cursor: hand;
  -fx-pref-width: 150;
  -fx-pref-height: 150;
  /*Add a slightly lighter shadow to the left of each box*/
  -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.5), 0, 0, 5, 5);
}

.numberBox:hover {
  /*Material design hover effect*/
  -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.3), 0, 0, 2, 2);
  -fx-text-fill: #121212;
}
