@import "style.css";

.title {
  -fx-font-size: 80;
  -fx-padding: 50 0 0 0;
}

.tooltip{
  -fx-background-color: -neutral-color;
  -fx-text-fill: -label-text-color;
}

.importBox {
  -fx-background-color: -neutral-color;
  -fx-background-radius: 30;
  -fx-padding: 20;
  -fx-spacing: 20;
  -fx-alignment: center;
}

.importBox .label {
  -fx-text-fill: -label-text-color;
  -fx-font-size: 30;
  -fx-font-family: "Roboto";
}

.button:disabled {
  -fx-background-color: derive(-primary-color, +50%);
  -fx-text-fill: derive(-button-text-color, +50%);
}

.fileNameText {
  -fx-font-size: 12px;
  -fx-fill: -label-text-color;
  -fx-font-weight: 700;
}