.backButton {
  -fx-background-radius: 30;
  -fx-background-color: #f2e9e4;
  -fx-text-fill: black;
  -fx-font-size: 100;
  -fx-font-family: "Roboto";
  -fx-cursor: hand;
  -fx-pref-width: 50;
  -fx-padding: 5;
}

.backButton:hover {
  -fx-background-color: #dedede;
  -fx-text-fill: #121212;
}

.backButton:pressed {
  -fx-background-color: #bfbfbf;
  -fx-text-fill: #121212;
}

.button{
  -fx-background-radius: 30;
  -fx-background-color: #f2e9e4;
  -fx-text-fill: black;
  -fx-font-size: 25px;
  -fx-font-family: "Roboto";
  -fx-padding: 10;
  -fx-cursor: hand;
  -fx-pref-width: 200;
}

.button:hover{
  -fx-background-color: #dedede;
  -fx-text-fill: #121212;
}

.button:pressed{
  -fx-background-color: #bfbfbf;
  -fx-text-fill: #121212;
  -fx-font-size: 23px;
}


.title {
  -fx-font-size: 40;
  -fx-font-family: "Roboto";
  -fx-text-fill: #FFFFFF;
  -fx-padding: 20 0 0 0;

}

.importBox{
  -fx-background-radius: 30;
  -fx-padding: 20;
  -fx-spacing: 20;
  -fx-alignment: center;
}

.importBox .label{
  -fx-text-fill: #FFFFFF;
  -fx-font-size: 30;
  -fx-font-family: "Roboto";
}

.root {
  -fx-background-color: #121212;
}


.button:disabled {
  -fx-background-color: #bfbfbf;
  -fx-text-fill: #121212;
}

.fileNameText {
  -fx-font-size: 12px;
  -fx-fill: White;
  -fx-font-weight: 700;

}