
.title {
    -fx-padding: 50 0 0 0;
    -fx-font-size: 80px;
    -fx-font-family: "Roboto";
    -fx-text-fill: #FFFFFF;
}

.button {
    -fx-background-color: #f2e9e4;
    -fx-text-fill: black;
    -fx-font-size: 11px;
    -fx-font-family: "Roboto";
    -fx-cursor: hand;
    -fx-padding: 5;
}

.button:hover {
    -fx-background-color: #dedede;
    -fx-text-fill: #121212;
}

.button:pressed {
    -fx-background-color: #bfbfbf;
    -fx-text-fill: #121212;
}

.backButton{
    -fx-background-radius: 30;
    -fx-background-color: #f2e9e4;
    -fx-text-fill: black;
    -fx-font-size: 25px;
    -fx-font-family: "Roboto";
    -fx-padding: 10;
    -fx-cursor: hand;
    -fx-pref-width: 200;
}

.backButton:hover{
    -fx-background-color: #dedede;
    -fx-text-fill: #121212;
}

.backButton:pressed{
    -fx-background-color: #bfbfbf;
    -fx-text-fill: #121212;
    /*-fx-font-size: 23px;*/
}



.custom-label {
    -fx-font-size: 30px;
    -fx-text-fill: #FFFFFF;
}

.fontBox {
    -fx-spacing: 10px;
}

.fontBox > .label {
    -fx-font-size: 18px;
}

.sizeBox {
    -fx-spacing: 10px;
}

.sizeBox > .label {
    -fx-font-size: 18px;
}
.sizeBox > .button {
    -fx-background-color: #d9d9d9;
    -fx-text-fill: #2d2d2d;
    -fx-padding: 5px 10px;
}

.themeBox {
    -fx-spacing: 10px;
}

.themeBox > .label {
    -fx-font-size: 18px;
}



.root {
    -fx-background-color: #121212;
}