@import "style.css";

.title {
    -fx-padding: 100 0 0 0;
    -fx-text-fill: -label-text-color;
}

.loading {
    -fx-font-size: 100px;
    -fx-font-weight: 600;
    -fx-text-fill: -primary-color;
}
