.root {
    -primary-color: #006d3e;
    -secondary-color: #a03670;
    -tertiary-color: #7c3cbe;
    -neutral-color: #f8fdff;
    -label-text-color: black;
    -button-text-color: white;

    -fx-font-weight: 500;

    -fx-background-color: -neutral-color;
    -fx-text-background-color: -label-text-color;
}

.title {
    -fx-padding: 100 0 0 0;
    -fx-font-size: 100px;
    -fx-font-family: "Roboto";
    -fx-text-fill: black;
}


.button {
    -fx-background-radius: 30;
    -fx-background-color: -primary-color;
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-font-family: "Roboto";
    -fx-padding: 10;
    -fx-cursor: hand;
    -fx-pref-width: 200;
}

.button:hover {
    -fx-background-color: derive(-primary-color, -20%);
    -fx-text-fill: white;
}

.button:pressed {
    -fx-background-color: derive(-primary-color, -30%);
    -fx-text-fill: darkgray;
    -fx-font-size: 23px;
}

.loading {
    -fx-font-size: 100px;
    -fx-font-family: "Roboto";
    -fx-font-weight: 600;
    -fx-text-fill: -primary-color;
}

